/* header */

#courseTitle {
    text-decoration: none;
}

#courseTitle h2:hover {
    text-decoration: none;
    color: #007bff;
}

.online-course-paragraphs p{
    letter-spacing: 1px;
    line-height: 30px;
}