#website-logo {
    font-size: 2em;
}

#navbarNav a {
    border-bottom: 1px solid transparent;
    transition: 0.5s;
    font-size: 1.6em;
}

#navbarNav a:hover {
    border-bottom: 1px solid #f2f2f2;
    color: white;
}

@media only screen and (max-width: 1100px) and (min-width: 768px) {
    #navbar-row {
        flex-direction: column;
        align-items: center;
    }
}

/* Carousel Styles */
.carousel {
    width: 100%;
}

#carousel-pic {
    height: 625px;
    width: 100%; 
    display: block;      
    object-fit: cover;
}

.carousel-caption > .c-link > #welcome{
    font-size: 5px;
}

#welcome, #bbVsBtn, #moveUpStakes {
    background-color: rgba(0, 0, 0, .5);
    color: white;
    /* width: 35%; */
}

/* #bbVsBtn {
    background-color: rgba(0, 0, 0, .5);
    color: white;
} */

.c-link:hover {
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: white;
    
}

/* #moveUpStakes {
    background-color: rgba(0, 0, 0, .5);
    color: white;
} */

@media only screen and (min-width: 768px) {
    #welcome {
        width: 35%;
    }
    #bbVsBtn {
        width: 70%;
    }
}



/* Quote Styles */
#quote-wrapper h5 {
    font-family: vollkorn;
    letter-spacing: 2px;
    font-size: 1.75em;
}

#quote-wrapper h6 {
    font-family: vollkorn;
    font-size: 1em;
}

/* Body Nav Styles */
.bodyNavComp {
    display: grid;
    grid-template-columns: 1fr;
    border: 3px solid black;
    border-radius: 15px;
    padding: 15px;
    transition: .5s;
    background-color: white;
    cursor: pointer;
}

.bodyNavComp:hover {
    border: 3px solid #737373;
    background-color: #404040; 
    color: #e6e6e6;
}

.navPic {
    width: 412px;
    height: 300px;
}

#about-me {
    object-fit: cover;
    object-position: 10% 0%;
}

.bodyNavBtns {
    color: black;
}

a.bodyNavBtns:hover {
    text-decoration: none;
    color: white;
}

#bodyNavLinkContainer2 > .bodyNavBtns:hover {
    color:
}

/* Footer Styles */

#socialMediaIconsWrapper > a {
    padding: 10px 15px;
    font-size: 1.5rem;
    color: #cbcbcb;
    transition: 0.5s;
}

#socialMediaIconsWrapper > a:hover {
    color: #cea135;
    cursor: pointer;
}

