#website-logo {
    font-size: 2em;
}

#navbarNav a {
    border-bottom: 1px solid transparent;
    transition: 0.5s;
    font-size: 1.6em;
}

#navbarNav a:hover {
    border-bottom: 1px solid #f2f2f2;
    color: white;
}

/* Carousel Styles */
.carousel {
    width: 100%;
}

#carousel-pic {
    height: 625px;
    width: 100%; 
    display: block;      
    object-fit: cover;
}

#welcome {
    background-color: rgba(0, 0, 0, .5);
    width: 33rem;
}

#bbVsBtn {
    background-color: rgba(0, 0, 0, .5);
    width: 60rem;
    color: white;
}

#bbVsBtn:hover {
    color: #007bff;
}

.c-link:hover {
    text-decoration: none;
}

#moveUpStakes {
    background-color: rgba(0, 0, 0, .5);
    width: 60rem;
    color: white;
}

#moveUpStakes:hover {
    color: #007bff;
}



/* Quote Styles */
#quote-wrapper h5 {
    font-family: vollkorn;
    letter-spacing: 2px;
    font-size: 1.75em;
}

#quote-wrapper h6 {
    font-family: vollkorn;
    font-size: 1em;
}

/* Body Nav Styles */
.bodyNavComp {
    display: grid;
    grid-template-columns: 1fr;
    border: 3px solid black;
    border-radius: 15px;
    padding: 15px;
    margin: 40px;
    transition: .5s;
    background-color: white;
    cursor: pointer;
}

.bodyNavComp:hover {
    border: 3px solid #737373;
    background-color: #404040; 
    color: #e6e6e6;
}

.navPic {
    width: 412px;
    height: 300px;
}

#about-me {
    object-fit: cover;
    object-position: 10% 0%;
}

.bodyNavBtns {
    color: black;
}

a.bodyNavBtns:hover {
    text-decoration: none;
    color: white;
}

/* Footer Styles */
#socialMediaIconsWrapper > a {
    padding: 10px 70px;
    font-size: 1.5em;
    color: #cbcbcb;
    transition: 0.5s;
}

#socialMediaIconsWrapper > a:hover {
    color: #cea135;
    cursor: pointer;
}

/* Media Queries */
@media only screen and (max-width: 1100px) and (min-width: 768px) {
    #navbar-row {
        flex-direction: column;
        align-items: center;
    }
  }